<div class = "main-container">
  <img class = "bgimage" src = "../../assets/images/backgroud/backgrounddp.jpg" />

  <div class = "left-side-container">
      <h1 class = "forgot-password-text">Forgot Password</h1>
      <p class = "forgot-password-description">Please enter your email address and recover link will sent to your email address</p>
  </div>

  <div class = "right-side-container">
    <h3 class = "forgot-password-heading">Forgot Password</h3>
    <hr/>

    <div class = "input-container">
      <form>
        <mat-form-field class = "form-field-full-width" floatLabel = "auto" hideRequiredMaker appearance = "outline">
          <mat-label class = "mat-label">Email Address</mat-label>
          <input matInput placeholder = "Email Address" type = "text" class = "mat-input" required />
          <mat-hint class = "mat-hint" align = "end">Max 100 characters</mat-hint>
        </mat-form-field>
      </form>

      <div class = "button-row">
        <button mat-raised-button class = "mat-btn">Send</button>
      </div>

      <div class = "back-to-home-container">
        <a style="color: #FDD835;" [routerLink] = "['/emp-login']" class = "back-to-home-text">Back to home</a>
      </div>
    </div>
  </div>
</div>
